body {
    background-image: url("./gameon0.png");
    background-color: rgb(148, 133, 105);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
   
    margin-right: 0px;
    position: fixed;
    font-family: 'VT323', monospace;
}

#backgroundimage {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: none;
}

.bowlimage {
    position: absolute;
    bottom: 15px;
    left: 50%;
}

.fish {
    bottom: 800px;
    width: 100px;
    height: 70px;
    /* background-color: cornsilk; */
    background-image: url("./fish_1.png");
    background-repeat: no-repeat;
    position: absolute;
}

.bone {
    bottom: 800px;
    width: 100px;
    height: 70px;
    background-image: url("./bone_2.png");
    background-repeat: no-repeat;
    position: absolute;
}

.bowlimage1 {
    position: absolute;
    bottom: 15px;
    left: 0px;
}

#score1 {
    position: relative;
    margin-left: 115px;
    color: black;
    font-size: 30px;
    top: 100px;
}

#score2 {
    top: 100px;
    position: relative;
    margin-left: 120px;
    color: black;
    font-size: 30px;
}

footer {
    position: absolute;
    z-index: auto;
    width: 100%;
    top: 0%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.showing {
    display: block;
}

.hide {
    display: none;
}

#gamestart {
    font-size: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: orange;
    margin-left: calc(50% - 240px);
    margin-right: calc(50% - 240px);
    margin-top: -200px;
    padding: 50px;
}
#dogimage{
    position: relative;
    top:20%;
    left:5%;
    animation: rotation 8s infinite linear;


}
#catimage{
    position: relative;
    top:10%;
    left:49%;
    animation: rotation 8s infinite linear;

}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(30deg);
    }
    70%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }
#start {
    display: block;
    margin: auto;
    font-family: 'VT323', monospace;
    margin-left: auto;
}

#paw {
    position: absolute;
    top: -40px;
    left: 420px;
}
#huhuwin{
    padding-top: 10%;
    position: relative;
    top:10%;
    left:40%;
    animation: rotation 8s infinite linear;
}
#hopiwin{
    padding-top: 10%;
    position: relative;
    top:10%;
    left:40%;
    animation: rotation 8s infinite linear;
}
#winner{
    font-size: 100px;
    text-align: center;
}