
html {
    /* background: rgb(234, 137, 88); */
    background: linear-gradient(180deg, rgba(234, 137, 88, 1) 0%, rgba(232, 180, 154, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: auto;
    width: auto;
}

body{
    min-width:900px;
}
h1{
    margin-left: 15%;
    font-family: 'Gemunu Libre', sans-serif;
    color: white;
    animation: headline 3s 1;
}
h2 {
    color: rgb(252, 161, 3);
    font-size: 25px;
    font-family: 'Gemunu Libre', sans-serif;
}
#des{
    margin-left: 15%;
    color: #e3f9fd;
}
#part2title{
    font-size: 20px;
}
li{
    list-style-type: none;
}

a {
    text-align: left;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
section a:hover{
    font-size: 20px;
    transition: all 1s;
}
main{
    width: 700px; 
    
    margin:auto;
    
    /*background-color: rgb(110, 30, 11,0.7);*/
    display: flex;
    align-self: center;
    flex-direction: row;
    align-content: center;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 50px;

}
.lines{
    background-color: burlywood;

}
ul{
    position: relative;
    padding: 0px;
    margin: 0px;
}
section{
    margin-right: 0px;
    padding: 20px;
    line-height: 1.15;
    display: flex;
    flex-direction: column;
    width: 33%;
    font-family: 'Gemunu Libre', sans-serif;
    align-items: center;
    color:whitesmoke;
    font-size: 30px;
}
#part1, #part2, #part3{
    position: relative;
    display: flex;
    border: 3px solid #2c3845;
    border-left: none;
    border-bottom: none;
    border-radius: 20px;
}
#part1{
    background-color: #569597;
}
#part1:hover{
    background-color: #006e5f;
}
#part2{
    background-color: #2b5e7d;

}
#part2:hover{
    background-color: #5c8987;
}
#part3{
    background-color: rgb(66, 80, 102);
}
#part3:hover{
    background-color: rgb(79,114,108);
}
.sky{
    transform: rotateZ(45deg);
}
/*this is the animation of Meteor shower*/
.star{
    position: absolute;
    top: 25%;
    left: 20%;
    height: 2px;
    background: linear-gradient( -45deg, #5f91ff, rgba(0,0,255,0));
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.star ::before, .star ::after{
    position: absolute;
    content: "";
    /*top:calc(50% - 1px);*/
    right: 0;
    height: 2px;
    width:30px;
    background: linear-gradient(-45deg, rgba(0,0,255,0),#5f91ff,rgba(0,0,255,0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3000ms ease-in-out infinite;
}

.star::after{
    transform: translateX(50%) rotateZ(-45deg);

}

.star:nth-child(1){
    top:calc(25% - 50px);
    left: calc(50% - 300px);
    animation-delay: 650ms;
}

.star:nth-child(1)::before, .star:nth-child(1)::after{
    animation-delay: 650ms;
}

.star:nth-child(2){
    top:calc(25% - -70px);
    left: calc(50% - 450px);
    animation-delay: 550ms;
}
.star:nth-child(2)::before, .star:nth-child(1)::after{
    animation-delay: 550ms;
}
/*

.star:nth-child(3){
    top:calc(25% - -90px);
    left: calc(30% - 50px);
    animation-delay: 1500ms;
}
.star:nth-child(3)::before, .star:nth-child(1)::after{
    animation-delay: 15000ms;
}*/

@keyframes tail {
    0%{
        width: 0;
    }
    30%{
        width: 100px;
    }
    100%{
        width:0;
    }
}
@keyframes shining {
    0%{
        width:0;
    }
    50%{
        width: 30px;
    }
    100%{
        width: 0;
    }
}
@keyframes shooting {
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(320px);
    }
}
footer{
    gap:50px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    color: white;
    font-family: 'Gemunu Libre', sans-serif;
    justify-content: center;
    margin-bottom: 0%;
}
.banner{
    align-items: flex-end;
    display: flex;
    margin: auto;
    border-width: 4px;
    border-color:#4F657E;
    background: linear-gradient(180deg, rgb(2, 2, 2) 0%, rgba(232, 180, 154, 1) 100%, rgba(0, 212, 255, 1) 100%);
    width: 1100px;
    height: 250px;
    margin-bottom: 0%;
    
}

.boat{
    top: 10px;
    display: flex;
    position: relative;
    animation: move 15s linear ;
    animation-fill-mode: forwards;
}

.sea{
    display: block;
    position: absolute;
    animation: ride 5s linear infinite ;

}
.sea2{
    display: block;
    position: absolute;
}
.circle{
    position: relative;
    left: 800px;
    top: -150px;
    height: 50px;
    width: 50px;
    background-color:#ebcd09;
    border-radius: 50%;
}

.circle:hover{
    animation: moon 3s linear ;
    animation-fill-mode: forwards;

}
.clouds{
    display: block;
    position: relative;
    left: 600px;
    top: -130px;
}

@keyframes headline {
    0%{
        color: black;
        margin-bottom: -100px;
    }
    30%{
        letter-spacing: 15px;
        margin-bottom: -100px;
    }
    75%{
        letter-spacing: 8px;
        margin-bottom: -100px;
    }
}
@keyframes move {
    100%{
        transform: translateX(150px);
        
    }
}
@keyframes moon {
    100%{
        transform:translateX(-130px);
    }
      
  }  
  
    

@keyframes ride {
    100%{
        transform:translateY(-4px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-4px);
    }
}
